@import "tailwindcss";

@font-face {
  font-family: mediasanssemicondensed-bold;
  src: url("./assets/fonts/mediasanssemicondensed-bold-TRIAL-BF63c75479cdb92.otf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-VariableFont_wght;
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}

@theme {
  --font-mediasanssemicondensed-bold: mediasanssemicondensed-bold, "sans-serif";
  --font-Montserrat-Regular: Montserrat-Regular, "sans-serif";
  --font-Montserrat: Montserrat-VariableFont_wght, "sans-serif";
}

@layer utilities {
  .text-stroke-black {
    -webkit-text-stroke: 0.05rem black;
    color: transparent;
  }
  .text-stroke-white {
    -webkit-text-stroke: 0.08rem white;
  }

  .shadow-custom:hover {
    box-shadow: 0 32px 32px #1b1b1b1a, 0 16px 16px #1b1b1b1a,
      0 8px 8px #1b1b1b1a, 0 4px 4px #1b1b1b1a, 0 2px 2px #1b1b1b1a;
  }
}
